@import "lib/reset";
@import "common/global";
@import "common/fonts";


#main {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: red;
}

// #fakescroller {
// 	display: block;
// 	position: absolute;
// 	width: 100%;
// 	height: 50000px;
// 	//for native touch feel
// 	-webkit-overflow-scrolling : touch;
// }

