@import "lib/reset";
@import "common/global";
// @import "common/fonts";

#main {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: red;
}

#loading {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1024px;
	height: 768px;
	background: #e7e7e7 url(../images/loaderbase.png) 50% 50%  no-repeat;
}

// #fakescroller {
// 	display: block;
// 	position: absolute;
// 	width: 100%;
// 	height: 50000px;
// 	//for native touch feel
// 	-webkit-overflow-scrolling : touch;
// }

